# /practice
node_modules/
package.json
package-lock.json
10_Authentication/node_modules
10_Authentication/package-lock.json
10_Authentication/package.json
10_Authentication/practice
06_Feb/node_modules
06_Feb/package-lock.json
06_Feb/package.json
11_Error_Handling/node_modules
11_Error_Handling/package-lock.json
11_Error_Handling/package.json
12_Unit_Testing/package.json
12_Unit_Testing/node_modules
12_Unit_Testing/package-lock.json
NextJS/
Genre/
13_Integration_Testing/node_modules
13_Integration_Testing/package.json
13_Integration_Testing/package-lock.json

# 13_INTEGRATION_TESTING/config/
# 13_INTEGRATION_TESTING/middleware/
# 13_INTEGRATION_TESTING/models/
# 13_INTEGRATION_TESTING/routes/
# 13_INTEGRATION_TESTING/startup/
# 13_INTEGRATION_TESTING/tests/
# 13_INTEGRATION_TESTING/index.js
# 13_INTEGRATION_TESTING/logfile.log
# 13_INTEGRATION_TESTING/package-lock.json
# 13_INTEGRATION_TESTING/package.json
# 13_Integration_Testing